<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navbarStyle.css">
    <link rel="stylesheet" href="../css/postsStyle.css">
    <title>Posty</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbarBody">
            <a href="../index.html">
                <div class="navbarItem">Strona główna</div>
            </a>
            <a href="form.html">
                <div class="navbarItem">Formularz</div>
            </a>
            <a href="posts.html">
                <div class="navbarItem">Posty</div>
            </a>
        </div>
    </nav>
    <div class="pageContent">
        <header>
            <h1>Posty</h1>
        </header>
        <main id="postsMain">
            <div id="filterFormContainer">
                <!-- <form name="filterForm" id="filterForm">
                    <div class="formItem">
                        <label for="author">Autor:</label>
                        <input type="text" id="author" name="author">
                    </div>
                    <div class="formItem">
                        <label for="title">Tytuł:</label>
                        <input type="text" id="title" name="title">
                    </div>
                    <div class="formItem">
                        <label for="content">Treść:</label>
                        <input type="text" id="content" name="content">
                    </div>
                    <div class="formItem">
                        <label for="sortBy">Sortowanie po:</label>   
                        <select id="sortBy" name="sortBy">
                            <option selected value="userId">Autor</option>
                            <option value="title">Tytuł</option>
                            <option value="body">Treść</option>
                        </select>
                    </div>
                    <div class="formItem">
                        <label for="sortDirection">Sposób sortowania:</label>   
                        <select id="sortDirection" name="sortDirection">
                            <option selected value="asc">Rosnąco</option>
                            <option value="desc">Malejąco</option>
                        </select>
                    </div>
                    <div class="formItem">
                        <button id="filter">Filtruj</button>
                    </div>
                    <div class="formItem">
                        <button id="clean">Wyczyść</button>
                    </div>
                </form> -->
            </div>
            <div id="postsContainer">
                
            </div>
        </main>
    </div>
</body>
<script src="../js/postsData.js"  type="module"></script>
</html>